/***********************************************
------------------- Reset CSS ------------------
************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************
-------------------- Général ------------------- 
************************************************/

html {
	--color-background: #fefbea;
	--color-background2: white;

	--color-orange0: rgba(254, 182, 58, 0.5);
	--color-orange1: #ffa834;
	--color-orange2: #fd8e34;

	--color-gray: rgb(242, 242, 247);
	--color-gray2: rgb(142, 142, 147);

	--color-main: black;

	--radius-main: 8px;
	--radius: 6px;

	--player1-color: rgb(45, 141, 252);
	--player2-color: rgb(255, 36, 47);
	--player3-color: rgb(82, 211, 82);
	--player4-color: rgb(255, 217, 0);
	--player5-color: rgb(221, 42, 191);
}

html[data-theme='dark'] {
	--color-background: #181a27;
	--color-background2: #15151d;

	--color-orange0: #f08831;
	--color-orange1: #fd8e34;
	--color-orange2: #ffa834;

	--color-gray: rgb(44, 44, 46);

	--color-main: white;
}

body {
	font-family: sans-serif;
	background-color: var(--color-background);
}

* {
	box-sizing: border-box;
}

body > div,
body > input[type='radio'] {
	display: none;
}

/***********************************************
-------------------- Input ---------------------
************************************************/

input[type='text'] {
	background-color: var(--color-gray);
	display: block;
	padding: 1.2rem 0.9rem;
	border: none;
	border-radius: var(--radius);
	font-size: 1rem;
	color: var(--color-main);
}

input[type='text']:focus {
	outline: none;
}

/***********************************************
------------------- logScren -------------------
************************************************/

input[type='radio']:checked + #logScreen {
	display: flex;
}

#logScreen {
	display: none;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

#logScreen > div {
	text-align: center;
	background-color: var(--color-background2);
	border-radius: var(--radius-main);
	padding: 3rem 2.5rem;
	box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] #logScreen > div {
	box-shadow: none;
}

#logScreen > div > h1 {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.8rem;
	color: var(--color-main);
}

#logScreen > div > input[type='text'] {
	margin-bottom: 1.7rem;
}

#logScreen > div > input[type='button'] {
	background-color: var(--color-orange1);
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	border: none;
	border-radius: var(--radius);
	box-shadow: 0 0 13px 2px var(--color-orange0);
	color: white;
	font-size: 0.9rem;
	transition: background-color 0.2s ease-in-out;
}

html[data-theme='dark'] #logScreen > div > input[type='button'] {
	box-shadow: 0 0 6px 2px var(--color-orange0);
}

#logScreen > div > input[type='button']:hover {
	background-color: var(--color-orange2);
}

@media only screen and (max-width: 450px) {
	#logScreen > div {
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	#logScreen > div > input[type='text'] {
		margin-left: auto;
		margin-right: auto;
	}
}

/***********************************************
--------------------- Chat ---------------------
************************************************/

input[type='radio']:checked + #content {
	display: flex;
}

#content {
	display: none;
	height: 100vh;
	width: 100vw;
	border: 1.5em solid var(--color-background);
}

#content main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: var(--color-background2);
	border-top-right-radius: var(--radius-main);
	border-bottom-right-radius: var(--radius-main);
}

#content main #messages,
#game aside #messages {
	padding: 2em;
	flex-grow: 1;
	overflow-y: scroll;
}

#content main .msg,
#game aside .msg {
	margin-bottom: 1rem;
}

#content main .msg h3,
#game aside .msg h3 {
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: var(--color-main);
}

#content main .msg h3 span,
#game aside .msg h3 span {
	font-weight: normal;
	color: var(--color-gray2);
	font-size: 0.8rem;
	margin-left: 0.1rem;
}

#content main .msg p,
#game aside .msg p {
	display: inline-block;
	word-wrap: break-word;
	font-size: 1rem;
	max-width: 90%;
	padding: 1rem;
	border-radius: 20px;
	background-color: var(--color-gray);
	color: var(--color-main);
}

#content main .msg.moi,
#game aside .msg.moi {
	text-align: right;
}

#content main .msg.moi p,
#game aside .msg.moi p {
	background-color: var(--color-orange0);
}

#content main .msg.system,
#game aside .msg.system {
	text-align: center;
}

#content main .msg.system p,
#game aside .msg.system p {
	padding: 0;
	background: none;
}

#game aside #messages .mp {
	color: darkblue;
}

#game aside #messages .moi {
	color: green;
}

#game aside #messages .system {
	color: orange;
}

#content main footer {
	display: flex;
	padding: 1rem;
	position: relative;
}

#content main footer input[type='text'] {
	flex-grow: 1;
	margin-right: 1rem;
}

#content main footer button {
	background: none;
	border: none;
}

#content main footer button:first-of-type {
	margin-right: 0.6rem;
	transition: color 0.2s ease-in-out;
	color: var(--color-main);
}

#content main footer button:first-of-type:hover {
	color: var(--color-orange2);
}

#content main footer button:last-child {
	color: red;
}

#content aside {
	width: 20%;
	background-color: #2b2b2b;
	color: white;
	padding: 2em;
	border-top-left-radius: var(--radius-main);
	border-bottom-left-radius: var(--radius-main);
	flex-shrink: 0;
}

#content aside h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

#content aside ul li {
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: 0.2rem;
}

@media only screen and (max-width: 450px) {
	#content aside {
		display: none;
	}
}

/***********************************************
--------------------- Game ---------------------
************************************************/

input[type='radio']:checked + #game {
	display: flex;
}

#game {
	position: relative;
	width: 100%;
	height: 100vh;
	border: none;
	padding: 0;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	background-color: rgb(243, 103, 22);
}

/** nav **/
#game #nav {
	position: absolute;
	left: 10%;
	min-width: 60%;
	width: 60%;
	max-width: 60%;
	display: flex;
	justify-content: center;
}

#game #nav span {
	word-wrap: break-word;
	padding: 1em;
	background-color: rgba(235, 143, 23, 0.863);
	cursor: pointer;
}

#game #nav .currentGame {
	background-color: rgb(253, 190, 17);
}

#game main {
	flex-grow: 1;
	padding: 1rem;
}

/* titre */
#game main h1 {
	font-family: 'Permanent Marker', cursive;
	font-weight: 900;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	min-width: 20rem;
	margin-top: 5rem;
}

/*        GAME CHAT         */

#game #wrap-chat {
	position: absolute;
	top: 2rem;
	right: 1.5rem;
	font-size: larger;
	z-index: 10;
}

#game aside {
	transform-origin: top right;
	transition: 0.2s;
	transform: scale(100%, 100%);
	display: block;
	position: relative;
	min-width: 15rem;
	width: 30%;
	margin: 1rem;
	padding: 1rem;
	border-radius: 20px;
	background: var(--color-background);
	justify-content: center;
	box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.2);
}

#game aside.hidden-chat {
	transform: scale(0%, 0%);
}

#game aside h2 {
	color: var(--color-main);
	font-weight: bold;
	font-size: 1.2rem;
	text-transform: uppercase;
	height: 1.4rem;
	text-align: center;
	margin-bottom: 1rem;
}

#game aside #send-messages {
	position: absolute;
	bottom: 1rem;
	width: 90%;
	display: flexbox;
}

#game aside #message {
	position: relative;
	height: 2rem;
	border-radius: 30px;
	padding: 5%;
	margin-top: 5%;
	margin-right: 3%;
	border: 1px grey solid;
	background-color: #e4e3e3;
	text-align: left;
	width: 82%;
	min-width: 30%;
	display: inline-block;
}

#game aside #labEnvoyer {
	padding: 0.3rem 0.4rem;
	border-radius: 100%;
	background-color: rgba(50, 110, 240, 0.774);
	border: none;
	color: white;
	box-shadow: 3px 2px 5px rgba(50, 110, 240, 0.774);
	cursor: pointer;
}

#game aside #labEnvoyer #envoyer {
	background-color: transparent;
	border: none;
	overflow: hidden;
	color: white;
}

#game aside #labEnvoyer:hover #envoyer {
	animation: moveArrow 0.75s;
}

/*   Invite list     */

#game main #liste-invitations {
	display: flex;
	position: absolute;
	top: 70%;
	width: 70%;
	justify-content: center;
}

#game main #liste-invitations .carte-joueur {
	width: 100px;
	height: 100px;
	background-color: #f5f5f5;
	border-radius: 10px;
	text-align: center;
	margin: 1rem;
	cursor: pointer;
	word-break: break-all;
	line-height: 95px;
}

#game main #liste-invitations #carte-hote::before {
	content: '👑';
	position: absolute;
	top: -50px;
	font-size: Larger;
}

#game main #cartes-autres {
	display: flex;
	padding: 0;
}

#game main #liste-invitations .carte-attente {
	cursor: default;
	background-color: gray;
}

#game main #choix-utilisateurs {
	position: absolute;
	display: flex;
	left: 50%;
	max-width: 80%;
	transform: translateX(-50%);
}

#game main #choix-utilisateurs li {
	width: 100px;
	height: 100px;
	padding: 1rem;
	text-align: center;
	background: rgba(100, 100, 100, 0.5);
	box-shadow: 0 0 10px black;
	cursor: pointer;
}

#game #annulerBtn {
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 0.7rem;
	color: white;
}

#game #annulerBtn:hover {
	/* color: rgb(46, 45, 45); */
	background-color: darkorange;
	border-radius: 0% 0% 40% 0%;
}

button:hover,
input[type='button']:hover,
btn:hover {
	cursor: pointer;
}

/* bouton pour lancer une partie */
#game main #jouerBtn {
	display: none;
}

/* css anim arrow button */

.button {
	display: none;
	position: absolute;
	top: 25%;
	left: calc((70% - 14rem) / 2);
	width: 14rem;
	display: inline-flex;
	color: #fff;
	padding: 2.5rem;
	border-radius: 50%;
	align-items: center;
	background-color: rgb(146, 180, 245);
	box-shadow: 5px 6px 10px -5px rgba(0, 100, 150, 0.75);
}
.button:hover {
	transform: scale(1.05);
	transition: transform 0.2s ease-in;
	cursor: pointer;
}

.button::before {
	transform: scaleX(0);
	transform-origin: 0 50%;
	z-index: -1;
	transition: transform 0.75s;
}

.button span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 2rem;
	padding: 0rem 1rem;
	overflow: visible;
	height: 100%;
}

.button span::after {
	position: absolute;
	left: 1rem;
	content: 'Lancer la partie';
	font-size: larger;
	width: 100%;
}

.button svg {
	margin-left: 4.7rem;
	min-width: 40px;
	min-height: 18px;
	max-height: 18px;
	fill: white;
}

.button:hover::before {
	transform: scaleX(1);
}

.button:hover svg {
	animation: moveArrow 0.75s;
}

@keyframes moveArrow {
	0% {
		transform: translateX(0px);
	}
	49% {
		transform: translateX(30px);
	}
	50% {
		transform: translateX(-15px);
	}
	100% {
		transform: translateX(0px);
	}
}

/* -------------------- Popup -------------------- */

#popup,
#syntheseParam {
	background-color: var(--color-background);
	color: var(--color-main);
	display: block;
	width: 25%;
	z-index: 999;
	min-width: 300px;
	max-width: 350px;
	padding-top: 2%;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	box-shadow: #2b2b2b;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 450px) {
	#popup,
	#syntheseParam {
		min-width: 275px;
		max-width: 275px;
		min-height: 150px;
	}
}

#popup p,
#syntheseParam label {
	padding: 1rem;
	width: 100%;
	margin-bottom: 1rem;
}

#popup button,
#syntheseParam button {
	min-width: 60px;
	min-height: 35px;
	border-radius: 12px;
	margin: 1em;
	margin-top: 2em;
}

#popup button:last-of-type {
	background-color: var(--color-background2);
	color: var(--color-main);
}

#popup button:first-of-type {
	background-color: var(--color-main);
	color: var(--color-background2);
	border: var(--color-background2), 1px, solid;
}

/* -------------------- Synthèse vocale -------------------- */

button#syntheseBtn {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

#syntheseParam {
	display: none;
}

#syntheseParam.afficherFenetre {
	display: block;
}

#syntheseParam #volume {
	margin-top: 1rem;
	width: 60%;
}

/* -------------------- Partie en cours -------------------- */
.displayed {
	display: block;
}

/* Basic shape of all the cards */
.pioche,
.top-pioche,
.pioche-visible,
.pioche-cachee,
.carte-main,
.selected-card,
#choix-cartes-autres > span {
	position: absolute;
	height: 170px;
	width: 110px;
	border-radius: 10%;
	min-width: 100px;
	background-color: rgb(255, 254, 248);
	min-height: 150px;
	max-height: 170px;
	max-width: 120px;
	box-shadow: -1px 2px 1px 1px rgba(0, 0, 0, 0.6);
}

/* ----------- Card's border -------------*/
.pioche div,
.top-pioche div,
.pioche-visible div,
.pioche-cachee div,
.carte-main div,
.selected-card div,
#choix-cartes-autres > span > div {
	position: absolute;
	top: 2.5%;
	left: 4%;
	height: 95%;
	width: 92%;
	border-radius: 10%;
}

/* --------- Other players' cards ---------*/
#choix-cartes-autres {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 10%;
	left: 9%;
	width: 50%;
}

@keyframes slide-card {
	0% {
		top: -100%;
	}
	100% {
		z-index: 1;
		top: 0%;
	}
}
#choix-cartes-autres .visible {
	z-index: 1;
}

#choix-cartes-autres > span {
	z-index: -1;
	animation: slide-card 1s;
	position: relative;
	transform-style: preserve-3d;
	transition: 2s 0.2s;
	margin-left: 5%;
	margin-right: 5%;
	transform: rotateY(0deg) translateX(-50%);
}

#choix-cartes-autres > span > div {
	/* Turn the inner card to not have it inversed */
	transform: rotateY(180deg);
}

#choix-cartes-autres .face-cachee span {
	display: none;
}

#choix-cartes-autres .face-visible::before,
#choix-cartes-autres .face-visible::after {
	position: absolute;
	content: attr(value);
}

#choix-cartes-autres .face-visible::before {
	top: 5%;
	left: 7.5%;
}

#choix-cartes-autres .face-visible::after {
	bottom: 5%;
	right: 7.5%;
}

#choix-cartes-autres #J1 .face-cachee {
	background-color: var(--player1-color);
}

#choix-cartes-autres #J1 .face-visible {
	border: 2px var(--player1-color) solid;
}

#choix-cartes-autres #J1 .face-visible::before,
#choix-cartes-autres #J1 .face-visible::after {
	color: var(--player1-color);
}

#choix-cartes-autres #J1 .face-visible span {
	background-color: var(--player1-color);
}

#choix-cartes-autres #J2 .face-cachee {
	background-color: var(--player2-color);
}

#choix-cartes-autres #J2 .face-visible {
	border: 2px var(--player2-color) solid;
}

#choix-cartes-autres #J2 .face-visible::before,
#choix-cartes-autres #J2 .face-visible::after {
	color: var(--player2-color);
}

#choix-cartes-autres #J2 .face-visible span {
	background-color: var(--player2-color);
}

#choix-cartes-autres #J3 .face-cachee {
	background-color: var(--player3-color);
}

#choix-cartes-autres #J3 .face-visible {
	border: 2px var(--player3-color) solid;
}

#choix-cartes-autres #J3 .face-visible::before,
#choix-cartes-autres #J3 .face-visible::after {
	color: var(--player3-color);
}

#choix-cartes-autres #J3 .face-visible span {
	background-color: var(--player3-color);
}

#choix-cartes-autres #J4 .face-cachee {
	background-color: var(--player4-color);
}

#choix-cartes-autres #J4 .face-visible {
	border: 2px var(--player4-color) solid;
}

#choix-cartes-autres #J4 .face-visible::before,
#choix-cartes-autres #J4 .face-visible::after {
	color: var(--player4-color);
}

#choix-cartes-autres #J4 .face-visible span {
	background-color: var(--player4-color);
}

#choix-cartes-autres #J5 .face-cachee {
	background-color: var(--player5-color);
}

#choix-cartes-autres #J5 .face-visible {
	border: 2px var(--player5-color) solid;
}

#choix-cartes-autres #J5 .face-visible::before,
#choix-cartes-autres #J5 .face-visible::after {
	color: var(--player5-color);
}

#choix-cartes-autres #J5 .face-visible span {
	background-color: var(--player5-color);
}

/*-------- Pile --------*/

.top-pioche {
	position: absolute;
	top: 37.5%;
	left: 35%;
}

.top-pioche div span,
.pioche-visible div span {
	background-color: #000;
	width: 102%;
}

.top-pioche div,
.pioche-visible div {
	border: 2px black solid;
}

.pioche,
.pioche-cachee,
.pioche-visible {
	position: absolute;
	top: 37.5%;
	left: 25%;
}

.pioche div,
.pioche-cachee div {
	background-color: #000;
	color: white;
}

.pioche div p,
.pioche-cachee div p {
	position: absolute;
	font-size: 4em;
	top: 30%;
	left: 31%;
}

.pioche-cachee {
	transition: 2s 0.2s;
}

.pioche-visible span {
	transform: rotateY(180deg);
}

/*--------- Player's cards ----------*/

/* card's main number  */
.carte-main span,
.selected-card span,
.top-pioche span,
.pioche-cachee span,
.pioche-visible span,
#choix-cartes-autres .face-visible span {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	position: absolute;
	top: 25%;
	left: 0%;
	padding-top: 20%;
	padding-bottom: 20%;
	width: 100%;
	color: white;
}

.selected-card {
	bottom: 23%;
	left: 30%;
}

.carte-main {
	bottom: 3%;
	cursor: pointer;
}

.carte-main[clr='1'] span,
.selected-card[clr='1'] span {
	background-color: var(--player1-color);
}

.carte-main[clr='2'] span,
.selected-card[clr='2'] span {
	background-color: var(--player2-color);
}

.carte-main[clr='3'] span,
.selected-card[clr='3'] span {
	background-color: var(--player3-color);
}

.carte-main[clr='4'] span,
.selected-card[clr='4'] span {
	background-color: var(--player4-color);
}

.carte-main[clr='5'] span,
.selected-card[clr='5'] span {
	background-color: var(--player5-color);
}

.carte-main::before,
.selected-card::before {
	position: absolute;
	top: 8%;
	left: 10%;
}

.carte-main::after,
.selected-card::after {
	position: absolute;
	bottom: 8%;
	right: 10%;
}

.carte-main[clr='1']::before,
.selected-card[clr='1']::before,
.carte-main[clr='1']::after,
.selected-card[clr='1']::after {
	color: var(--player1-color);
}

.carte-main[clr='2']::before,
.selected-card[clr='2']::before,
.carte-main[clr='2']::after,
.selected-card[clr='2']::after {
	color: var(--player2-color);
}

.carte-main[clr='3']::before,
.selected-card[clr='3']::before,
.carte-main[clr='3']::after,
.selected-card[clr='3']::after {
	color: var(--player3-color);
}

.carte-main[clr='4']::before,
.selected-card[clr='4']::before,
.carte-main[clr='4']::after,
.selected-card[clr='4']::after {
	color: var(--player4-color);
}

.carte-main[clr='5']::before,
.selected-card[clr='5']::before,
.carte-main[clr='5']::after,
.selected-card[clr='5']::after {
	color: var(--player5-color);
}

/*  card's frames */

.carte-main[clr='1'] div,
.selected-card[clr='1'] div {
	border: 2px var(--player1-color) solid;
}

.carte-main[clr='2'] div,
.selected-card[clr='2'] div {
	border: 2px var(--player2-color) solid;
}

.carte-main[clr='3'] div,
.selected-card[clr='3'] div {
	border: 2px var(--player3-color) solid;
}

.carte-main[clr='4'] div,
.selected-card[clr='4'] div {
	border: 2px var(--player4-color) solid;
}

.carte-main[clr='5'] div,
.selected-card[clr='5'] div {
	border: 2px var(--player5-color) solid;
}

.carte-main:hover {
	transform: translateY(-70%);
	transition-duration: 1s;
}

/* ALL 15 cards in hand */
.carte-main {
	z-index: attr(data-value);
	left: 2.5%;
}

.carte-joueur::before,
.carte-joueur::after {
	content: attr(value);
}

.carte-joueur[value='2'] {
	left: 6.5%;
}

.carte-joueur[value='3'] {
	left: 10.5%;
}

.carte-joueur[value='4'] {
	left: 14.5%;
}

.carte-joueur[value='5'] {
	left: 18.5%;
}
.carte-joueur[value='6'] {
	left: 22.5%;
}
.carte-joueur[value='7'] {
	left: 26.5%;
}

.carte-joueur[value='8'] {
	left: 30.5%;
}

.carte-joueur[value='9'] {
	left: 34.5%;
}

.carte-joueur[value='10'] {
	left: 38.5%;
}

.carte-joueur[value='11'] {
	left: 42.5%;
}

.carte-joueur[value='12'] {
	left: 46.5%;
}

.carte-joueur[value='13'] {
	left: 50.5%;
}

.carte-joueur[value='14'] {
	left: 54.5%;
}

.carte-joueur[value='15'] {
	left: 58.5%;
}

/* --------- Score ------------ */
#scores {
	position: absolute;
	top: 10%;
	left: 57%;
}

#scores h3 {
	font-size: x-large;
	font-weight: 700;
}

#scores p {
	text-align: center;
	font-size: large;
	margin: 1em;
}

/* ---------- Disparition animation -----------*/
.fade-out {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
